.site{
	max-width: 1200px;
	margin: auto;
}

.headercontainer{
	position: relative;
	display: -webkit-flex;
	margin: 0px;
	padding: 0px;
	height: 76px;
	z-index: 1;
	box-shadow: 2px;
	max-width: 1200px;
}

.headerbg{
	position: relative;
	width: 1200px;
	z-index: -1;
	height:76px;
	top: 9px;
}

.headerlogo{
	position: absolute;
	display: -webkit-flex;
	top: 16px;
	height: 44px;
	bottom: 16px;
	margin: 0;
	padding-left: 40px;
	padding-right: 40px;
	
}

.menu{	
	position: absolute;
	list-style-type: none;
	top: 26px;
	left: 126px;	
	margin: 0px;
	padding: 0px;
	max-height: 76px;
}

.menuli {
	display: inline;
	padding-right: 32px;
}

.menuli a {
	font-family: 'PT Sans';
	text-decoration: none;
	color: #1A2026;
	font-size: 16px;
	font-weight: bold;
}

.sign{
	position: absolute;
	list-style-type: none;
	top: 26px;
	right: 150px;	
	margin: 0px;
	padding: 0px;
	max-height: 76px;
}

.signli{
	display: inline;
	padding-right: 40px;
}

.signli a{
	font-family: 'PT Sans';
	text-decoration: none;
	color: #74A53B;
	font-size: 16px;
	font-weight: bold;
}

.signbutton{
	position: absolute;
	background-color: #74A53B; 
	font-family: 'PT Sans';
  	border: none;
  	color: #FFFFFF;
  	border-radius: 4px;
  	padding: 12px 32px 0px 32px;
  	height: 32px;
  	right: 40px;
  	top: 16px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	font-weight: bold;
  	z-index: 2;
}

.banner{
	padding: 0px;
	margin: 0px;
	max-width: 1200px;
	z-index: -2;
}
.bannerimg{
	margin: 0px;
	padding: 0px;
	display: -webkit-flex;
	max-width: 1200px;
	max-height: 270px;
}

.submenu1{
	font-family: 'PT Sans';
	text-decoration: none;
	color: #74A53B;
	font-size: 26px;
	font-weight: bold;
	margin-top: 32px;
	margin-left: 118px;
	margin-bottom: 8px;
	width: 1200px;
}

hr{
	border: 2px	solid #74A53B;
	width: 960px;
}

.card1{
	position: relative;
	display: inline-block;
	margin-top: 24px;
	margin-left: 118px;
	margin-right: 12px;
	width: 468px;
	height: 163px;
	border-radius: 8px;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.1); 
	transition: transform .2s;
}
.card1 a{
	text-decoration: none;
}
.card1:hover {
	transform: scale(1.02);
}

.card1 img{
	margin-top: 24px;
	max-width: 110px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	top: 0px;
}

.card1 div{
	position: absolute;
	display: inline-block;
	max-width: 230px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 16px;
	top: 0px;
	height: 90px;

}
.card1title{
	font-family: 'PT Sans';
  	border: none;
  	font-size: 21px;
  	font-weight: bold;
  	color: #7b000c;
  	margin: 0px;
}

.price{
	position: absolute;
	font-family: 'PT Sans';
	font-size: 18px;
	color: #69717A;
	right: 40px;
	top: 20px;
	margin: 0px;
}

.courency{
	position: absolute;
	font-family: 'PT Sans';
	font-size: 10px;
	color: #69717A;
	right: 20px;
	margin: 0px;
	top: 28px;
}

.card1text{
	font-family: 'PT Sans';
	font-size: 14px;
	color: #7b000c;
	margin-top: 8px;
	margin-bottom: 16px;
}

.addtocartbutton{
	position: absolute;
	background-color: #74A53B; 
	font-family: 'PT Sans';
  	border: none;
  	color: #FFFFFF;
  	border-radius: 4px;
  	padding: 0px 20px;
  	height: 36px;
  	right: 40px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
  	font-weight: bold;
  	z-index: 2;
  	bottom: 20px;
  	left: 150px;
}

.card2{
	position: relative;
	display: inline-block;
	margin-top: 24px;
	margin-left: 12px;
	width: 468px;
	height: 163px;
	top: 0px;
	left: 0px;
	border-radius: 10px;
	transition: transform .2s;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.1); 
}

.card2:hover {
	transform: scale(1.02);
}

.card2 a{
	text-decoration: none;
}

.card2 img{
	margin-top: 24px;
	max-width: 110px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	top: 0px;
}

.card2 div{
	position: absolute;
	display: inline-block;
	max-width: 230px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 16px;
	top: 0px;
	height: 90px;

}
.card2title{
	font-family: 'PT Sans';
  	border: none;
  	font-size: 21px;
  	font-weight: bold;
  	color: #0C402D;
  	margin: 0px;
}

.price{
	position: absolute;
	font-family: 'PT Sans';
	font-size: 18px;
	color: #69717A;
	right: 40px;
	top: 20px;
	margin: 0px;
}

.courency{
	position: absolute;
	font-family: 'PT Sans';
	font-size: 10px;
	color: #69717A;
	right: 20px;
	margin: 0px;
	top: 28px;
}

.card2text{
	font-family: 'PT Sans';
	font-size: 14px;
	color: #0C402D;
	margin-top: 8px;
	margin-bottom: 16px;
}

.addtocartbutton{
	position: absolute;
	background-color: #74A53B; 
	font-family: 'PT Sans';
  	border: none;
  	color: #FFFFFF;
  	border-radius: 4px;
  	padding: 0px 20px;
  	height: 36px;
  	right: 40px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
  	font-weight: bold;
  	z-index: 2;
  	bottom: 20px;
  	left: 150px;
}

.card3{
	position: relative;
	display: inline-block;
	margin-top: 24px;
	margin-left: 118px;
	margin-right: 12px;
	width: 468px;
	height: 163px;
	border-radius: 10px;
	transition: transform .2s;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.1); 
}

.card3:hover {
	transform: scale(1.02);
}
.card3 a{
	text-decoration: none;
}

.card3 img{
	margin-top: 24px;
	max-width: 110px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	top: 0px;
}

.card3 div{
	position: absolute;
	display: inline-block;
	max-width: 230px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 16px;
	top: 0px;
	height: 90px;

}
.card3title{
	font-family: 'PT Sans';
  	border: none;
  	font-size: 21px;
  	font-weight: bold;
  	color: #E06E21;
  	margin: 0px;
}

.price{
	position: absolute;
	font-family: 'PT Sans';
	font-size: 18px;
	color: #69717A;
	right: 40px;
	top: 20px;
	margin: 0px;
}

.courency{
	position: absolute;
	font-family: 'PT Sans';
	font-size: 10px;
	color: #69717A;
	right: 20px;
	margin: 0px;
	top: 28px;
}

.card3text{
	font-family: 'PT Sans';
	font-size: 14px;
	color: #E06E21;
	margin-top: 8px;
	margin-bottom: 16px;
}

.addtocartbutton{
	position: absolute;
	background-color: #74A53B; 
	font-family: 'PT Sans';
  	border: none;
  	color: #FFFFFF;
  	border-radius: 4px;
  	padding: 0px 20px;
  	height: 36px;
  	right: 40px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
  	font-weight: bold;
  	z-index: 2;
  	bottom: 20px;
  	left: 150px;
}

.card4{
	position: relative;
	display: inline-block;
	margin-top: 24px;
	margin-left: 12px;
	width: 468px;
	height: 163px;
	top: 0px;
	left: 0px;
	border-radius: 10px;
	transition: transform .2s;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.1); 
}

.card4:hover {
	transform: scale(1.02);
}

.card4 a{
	text-decoration: none;
}

.card4 img{
	margin-top: 24px;
	max-width: 110px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	top: 0px;
}

.card4 div{
	position: absolute;
	display: inline-block;
	max-width: 230px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 16px;
	top: 0px;
	height: 90px;

}
.card4title{
	font-family: 'PT Sans';
  	border: none;
  	font-size: 21px;
  	font-weight: bold;
  	color: #5A4033;
  	margin: 0px;
}

.price{
	position: absolute;
	font-family: 'PT Sans';
	font-size: 18px;
	color: #69717A;
	right: 40px;
	top: 20px;
	margin: 0px;
}

.courency{
	position: absolute;
	font-family: 'PT Sans';
	font-size: 10px;
	color: #69717A;
	right: 20px;
	margin: 0px;
	top: 28px;
}

.card4text{
	font-family: 'PT Sans';
	font-size: 14px;
	color: #5A4033;
	margin-top: 8px;
	margin-bottom: 16px;
}

.addtocartbutton{
	position: absolute;
	background-color: #74A53B; 
	font-family: 'PT Sans';
  	border: none;
  	color: #FFFFFF;
  	border-radius: 4px;
  	padding: 0px 20px;
  	height: 36px;
  	right: 40px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
  	font-weight: bold;
  	z-index: 2;
  	bottom: 20px;
  	left: 150px;
}

.card5{
	position: relative;
	display: inline-block;
	margin-top: 24px;
	margin-left: 118px;
	margin-right: 12px;
	width: 468px;
	height: 163px;
	border-radius: 10px;
	transition: transform .2s;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.1); 
}

.card5:hover {
	transform: scale(1.02);
}

.card5 a{
	text-decoration: none;
}

.card5 img{
	margin-top: 24px;
	max-width: 110px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	top: 0px;
}

.card5 div{
	position: absolute;
	display: inline-block;
	max-width: 230px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 16px;
	top: 0px;
	height: 90px;

}
.card5title{
	font-family: 'PT Sans';
  	border: none;
  	font-size: 21px;
  	font-weight: bold;
  	color: #780203;
  	margin: 0px;
}

.price{
	position: absolute;
	font-family: 'PT Sans';
	font-size: 18px;
	color: #69717A;
	right: 40px;
	top: 20px;
	margin: 0px;
}

.courency{
	position: absolute;
	font-family: 'PT Sans';
	font-size: 10px;
	color: #69717A;
	right: 20px;
	margin: 0px;
	top: 28px;
}

.card5text{
	font-family: 'PT Sans';
	font-size: 14px;
	color: #780203;
	margin-top: 8px;
	margin-bottom: 16px;
}

.addtocartbutton{
	position: absolute;
	background-color: #74A53B; 
	font-family: 'PT Sans';
  	border: none;
  	color: #FFFFFF;
  	border-radius: 4px;
  	padding: 0px 20px;
  	height: 36px;
  	right: 40px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
  	font-weight: bold;
  	z-index: 2;
  	bottom: 20px;
  	left: 150px;
}

.card6{
	position: relative;
	display: inline-block;
	margin-top: 24px;
	margin-left: 12px;
	width: 468px;
	height: 163px;
	top: 0px;
	left: 0px;
	border-radius: 10px;
	transition: transform .2s;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.1); 
}

.card6:hover {
	transform: scale(1.02);
}

.card6 img{
	margin-top: 24px;
	width: 110px;
	height: 96px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	top: 0px;
}

.card6 div{
	position: absolute;
	display: inline-block;
	max-width: 230px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 16px;
	top: 0px;
	height: 90px;

}
.card6title{
	font-family: 'PT Sans';
  	border: none;
  	font-size: 21px;
  	font-weight: bold;
  	color: #E06E21;
  	margin: 0px;
}

.price{
	position: absolute;
	font-family: 'PT Sans';
	font-size: 18px;
	color: #69717A;
	right: 40px;
	top: 20px;
	margin: 0px;
}

.courency{
	position: absolute;
	font-family: 'PT Sans';
	font-size: 10px;
	color: #69717A;
	right: 20px;
	margin: 0px;
	top: 28px;
}

.card6text{
	font-family: 'PT Sans';
	font-size: 14px;
	color: #E06E21;
	margin-top: 8px;
	margin-bottom: 16px;
}

.addtocartbutton{
	position: absolute;
	background-color: #74A53B; 
	font-family: 'PT Sans';
  	border: none;
  	color: #FFFFFF;
  	border-radius: 4px;
  	padding: 0px 20px;
  	height: 36px;
  	right: 40px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
  	font-weight: bold;
  	z-index: 2;
  	bottom: 20px;
  	left: 150px;
}

.footer {
	position: relative;
	top: 40px;
	background: #FFF8EF;
	width: 1200px;
	height: 390px;
}

.footer p {
	font-family: 'PT Sans';
	color: #69717A;
}

.contactus{
	font-family: 'PT Sans';
	color: #69717A;
	display: inline-block;
	position: absolute;
	width: 468px;
	height: 350px;
	left: 118px;
	top: 0px;
	padding-top: 0px;
	margin-top: 0px;
	
}

.footertitle{
	font-size: 28px;
	margin-bottom: 8px;
	font-weight: bold;
	margin-top: 40px;
	top: 0px;
}

.footertext{
	font-size: 16px;
	margin: 0px;
	width: 468px;
}

.companyname{
	font-size: 16px;
	font-weight: bold;
	margin-top: 32px;
	margin-bottom: 0px;
}

.adress{
	font-size: 14px;
	margin-top: 16px;
	margin-bottom: 0px;
}

.tel{
	font-size: 14px;
	margin-top: 16px;
}

.contactform{
	position: absolute;
	display: inline-block;
	margin-left: 12px;
	width: 468px;
	height: 363px;
	font-size: 13px;
	font-family: 'PT Sans';
	color: #69717A;
	top: 0px;
	right: 118px;
}

.contactform form {
	width: 468px;
}

.fullnametitle{
	margin-top: 40px;
	padding-top: 0px;
	margin-bottom: 0px;
	font-size: 13px;
	color: #69717A;
}
.fullname{
	width: 450px;
	height: 32px;
	color: #1A2026;
	border-width: 1px;
	border-style: solid;
	border-color: #69717A;
	padding-left: 16px;
}

.emailtitle{
	margin-top: 16px;
	padding-top: 0px;
	margin-bottom: 0px;
	font-size: 13px;
	color: #69717A;
}
.email{
	width: 450px;
	height: 32px;
	color: #1A2026;
	border-width: 1px;
	border-style: solid;
	border-color: #69717A;
	padding-left: 16px;
}

.messagetitle{
	margin-top: 16px;
	padding-top: 0px;
	margin-bottom: 0px;
	font-size: 13px;
	color: #69717A;
}

.message{
	width: 450px;
	height: 70px;
	color: #1A2026;
	border-width: 1px;
	border-style: solid;
	border-color: #69717A;
	padding-left: 16px;
}

.sendbutton{
	background-color: #FFF8EF; 
	font-family: 'PT Sans';
	border-style: solid;
  	border-width: 1px;
  	border-color: #74A53B;
  	color: #74A53B;
  	border-radius: 4px;
  	padding: 0px 30px;
  	height: 36px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
  	font-weight: bold;
  	z-index: 2;
  	margin-top: 14px;
}